@import "../node_modules/bootstrap/scss/bootstrap";

$basic-opacity: 0.85;
$full-opacity: 1;
$zero-opacity: 0;
$myBG: linear-gradient(90deg, rgba(40, 140, 240, 0.82), rgba(0, 220, 240, 0.53));

body {
  background: $myBG;
  .min-height {
    min-height: 300px;
  }
  .navbar {
    background: $black;
    color: $blue;
    .btn {
      color: $primary;
      background: $white;
      font-size: large;
    }
  }

  #mediaContainer {
    width: 700px;
    min-width: 700px;
    &:hover #floatRightBtns {
      button {
        display: inline;
        position: absolute;
      }
    }
  }

  .margin-top {
    margin-top: 100px;
  }

  .moveDown {
    margin-top: 450px;
  }

  .mediaPlayer {
    min-width: 600px;
    padding: 10px 40px;
    background: $black;
    width: 600px;
    border-radius: 125px;
    height: 300px;
    color: $primary;
  }

  #myList {
    height: 120px;
    overflow: scroll;
  }

  .current-song {
    font-size: large;
    color: $primary;
    opacity: $full-opacity;
    list-style: none;
    a {
      color: $primary;
    }
    .hide-play {
      opacity: $full-opacity;
    }
    &:hover {
      .hide-pause {
        opacity: $full-opacity;
      }
      .hide-play {
        opacity: $zero-opacity;
      }
    }
  }

  .current-song-pause {
    &:hover {
      .hide-pause {
        opacity: $zero-opacity;
      }
      .hide-play {
        opacity: $full-opacity;
      }
    }
  }

  .container {
    #playlists {
      .playlist {
        display: flex;
        text-align: center;
        align-content: center;
        justify-content: center;
        opacity: $basic-opacity;
        button {
          opacity: $zero-opacity;
        }
        &:hover {
          opacity: $full-opacity;
          button {
            opacity: $full-opacity;
          }
        }

      }
    }
  }
  .be-at-the-top {
    top: 20%;
  }
  .playlist {
    width: 300px;
    height: 300px;
  }
  .center-dot {
    height: 25px;
    width: 25px;
    background-color: white;
  }
}

.red-trash {
  color: indianred;
}

#floatRightBtns {
  button {
    display: none;
  }
}

img {
  width: 200px;
  height: 200px;
}

.playlistName {
  span {
    height: 200px;
    position: absolute;
    width: 20px;
    left: 0;
    top: 0;
    transform-origin: bottom center;
  }
}

.curveMe {
  word-spacing: 5px;
  letter-spacing: -1px;
  position: absolute;
  top: 20px;
}

.songNames {
  opacity: $basic-opacity;
  color: white;
  a{
    text-decoration: none;
    color: white;
  }
  .hide-play {
    opacity: $zero-opacity;
  }
  .hide-pause {
    opacity: $zero-opacity;
  }
  &:hover {
    list-style: none;
    opacity: $full-opacity;
    .hide-play {
      opacity: $full-opacity;
    }
  }
}

.modal-content {
  color: $white;
  background: $black;
  border: 2px solid $white;
}
.modal-header {
  border-color: $white;
}

#addSongsForm {
  max-height: 400px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: $black;
}

::-webkit-scrollbar-thumb {
  background: $white;
}

::-webkit-scrollbar-corner {
  background: $black;
}

.input-group-text {
  background:  transparent;
  color: $white;
}

 //=========================   My keyframes


.rotate-center {
  -webkit-animation: rotate-center 33s linear infinite both;
  animation: rotate-center 33s linear infinite both;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.puff-in-center {
  -webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(2px);
    filter: blur(2px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(2px);
    filter: blur(2px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.slide-in-bck-bottom {
  -webkit-animation: slide-in-bck-bottom 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-bck-bottom 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-bck-bottom {
  0% {
    -webkit-transform: translateZ(700px) translateY(300px);
    transform: translateZ(700px) translateY(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bck-bottom {
  0% {
    -webkit-transform: translateZ(700px) translateY(300px);
    transform: translateZ(700px) translateY(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

.roll-in-left {
  -webkit-animation: roll-in-left 0.6s ease-out reverse both;
  animation: roll-in-left 0.6s ease-out reverse both;
}

@-webkit-keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

.bounce-in-bck {
  -webkit-animation: bounce-in-bck 1.1s both;
  animation: bounce-in-bck 1.1s both;
}
@-webkit-keyframes bounce-in-bck {
  0% {
    -webkit-transform: scale(7);
    transform: scale(7);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(1.24);
    transform: scale(1.24);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-bck {
  0% {
    -webkit-transform: scale(7);
    transform: scale(7);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(1.24);
    transform: scale(1.24);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}


.shake-vertical {
  -webkit-animation: shake-vertical 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  animation: shake-vertical 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
    transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
    transform: translateY(-6.4px);
  }
}
@keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
    transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
    transform: translateY(-6.4px);
  }
}

.scale-out-center {
  -webkit-animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}
@keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}

